@using FortyTwo.Client.Components.Models

@if (Instance != null)
{
    <div class="domino @(Direction == DominoDirection.Horizontal ? "horizontal" : "") @(Selectable ? "clickable" : "") @(Preselected ? "preselected" : "")" 
        @onclick="@(async () => { if (Selectable) await OnSelected.InvokeAsync(Instance); })"
        @ontouchstart="@(async () => { if (Selectable) await OnSelected.InvokeAsync(Instance); })"
        @ondblclick="@(async () => { if (!Selectable) await OnDblClick.InvokeAsync(Instance); })">
        @{ var topValue = (Instance.Orientation == FortyTwo.Shared.Models.Orientation.Left ? Instance.Top : Instance.Bottom); }
        <div data-value="@topValue">
            <!-- Left -->
            @if (topValue >= 2)
            {
                <span class="TL23456"></span>
            }
            @if (topValue == 6)
            {
                <span class="TL6"></span>
            }
            @if (topValue >= 4)
            {
                <span class="TL456"></span>
            }
            <!-- Center -->
            @if (topValue % 2 != 0)
            {
                <span class="TC135"></span>
            }
            <!-- Right -->
            @if (topValue >= 2)
            {
                <span class="TR23456"></span>
            }
            @if (topValue == 6)
            {
                <span class="TR6"></span>
            }
            @if (topValue >= 4)
            {
                <span class="TR456"></span>
            }
        </div>

        <span class="line"></span>

        @{ var bottomValue = (Instance.Orientation == FortyTwo.Shared.Models.Orientation.Left ? Instance.Bottom : Instance.Top); }
        <div data-value="@bottomValue">
            <!-- Left -->
            @if (bottomValue >= 2)
            {
                <span class="BL23456"></span>
            }
            @if (bottomValue == 6)
            {
                <span class="BL6"></span>
            }
            @if (bottomValue >= 4)
            {
                <span class="BL456"></span>
            }
            <!-- Center -->
            @if (bottomValue % 2 != 0)
            {
                <span class="BC135"></span>
            }
            <!-- Right -->
            @if (bottomValue >= 2)
            {
                <span class="BR23456"></span>
            }
            @if (bottomValue == 6)
            {
                <span class="BR6"></span>
            }
            @if (bottomValue >= 4)
            {
                <span class="BR456"></span>
            }
        </div>
    </div>
}
else if (ShowPlaceHolder)
{
    <div class="domino @(Direction == DominoDirection.Horizontal ? "horizontal" : "")"></div>
}

@code {
    [Parameter]
    public FortyTwo.Shared.Models.Domino Instance { get; set; }

    [Parameter]
    public DominoDirection Direction { get; set; } = DominoDirection.Horizontal;

    [Parameter]
    public bool Selectable { get; set; }

    [Parameter]
    public EventCallback<FortyTwo.Shared.Models.Domino> OnSelected { get; set; }

    [Parameter]
    public bool Preselected { get; set; }

    [Parameter]
    public EventCallback<FortyTwo.Shared.Models.Domino> OnDblClick { get; set; } = new EventCallback<FortyTwo.Shared.Models.Domino>();

    [Parameter]
    public bool ShowPlaceHolder { get; set; }
}
