@using FortyTwo.Client.Components.Models

<div class="domino @(Direction == DominoDirection.Horizontal ? "horizontal" : "") @(Selectable ? "clickable" : "no-hover")" 
     @onclick="@(async () => { if (Selectable) await OnSelected.InvokeAsync(Instance); })">
    <div data-value="@Instance.Top">
        <!-- Left -->
        @if (Instance.Top >= 2)
        {
            <span class="TL23456"></span>
        }
        @if (Instance.Top == 6)
        {
            <span class="TL6"></span>
        }
        @if (Instance.Top >= 4)
        {
            <span class="TL456"></span>
        }
        <!-- Center -->
        @if (Instance.Top % 2 != 0)
        {
            <span class="TC135"></span>
        }
        <!-- Right -->
        @if (Instance.Top >= 2)
        {
            <span class="TR23456"></span>
        }
        @if (Instance.Top == 6)
        {
            <span class="TR6"></span>
        }
        @if (Instance.Top >= 4)
        {
            <span class="TR456"></span>
        }
    </div>

    <span class="line"></span>

    <div data-value="@Instance.Bottom">
        <!-- Left -->
        @if (Instance.Bottom >= 2)
        {
            <span class="BL23456"></span>
        }
        @if (Instance.Bottom == 6)
        {
            <span class="BL6"></span>
        }
        @if (Instance.Bottom >= 4)
        {
            <span class="BL456"></span>
        }
        <!-- Center -->
        @if (Instance.Bottom % 2 != 0)
        {
            <span class="BC135"></span>
        }
        <!-- Right -->
        @if (Instance.Bottom >= 2)
        {
            <span class="BR23456"></span>
        }
        @if (Instance.Bottom == 6)
        {
            <span class="BR6"></span>
        }
        @if (Instance.Bottom >= 4)
        {
            <span class="BR456"></span>
        }
    </div>
</div>


@code {
    [Parameter]
    public FortyTwo.Shared.Models.Domino Instance { get; set; }

    [Parameter]
    public DominoDirection Direction { get; set; } = DominoDirection.Horizontal;

    [Parameter]
    public bool Selectable { get; set; }

    [Parameter]
    public EventCallback<FortyTwo.Shared.Models.Domino> OnSelected { get; set; }
}
