@page "/game/{gameId:guid}"
@attribute [Authorize]
@layout MainLayout
@using System
@using System.Linq
@using CurrieTechnologies.Razor.SweetAlert2
@using FortyTwo.Client.ViewModels
@using FortyTwo.Shared.Models
@inject IGameViewModel Model
@inject SweetAlertService Swal

<style>
    .game-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 3.5rem - 18px);
    }

        .game-wrapper .player {
            min-height: 11rem;
            padding-bottom: 12px;
        }

        .game-wrapper .gameboard {
            flex-grow: 1;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

            .game-wrapper .gameboard .player-team-tricks,
            .game-wrapper .gameboard .opponent-tricks {
                font-size: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .game-wrapper .gameboard .player-team-tricks {
                justify-content: flex-end;
            }
            .game-wrapper .gameboard .opponent-tricks {
                justify-content: flex-start;
            }

            .game-wrapper .gameboard .current-trick {
                flex: 1;
            }

        .game-wrapper .domino-container {
            font-size: min(.75rem, 1.42vw);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
        }
</style>

<SpinnerOverlay Visible="Model.IsLoading">
    @if (Model.Game == null || Model.Player == null)
    {
        <div class="alert alert-danger" role="alert">
            Failed to load game info :(
        </div>
    }
    else
    {
        <div class="game-wrapper">
            <div>
                <h5>
                    @(Model.Game.Name ?? "Name Unknown")
                    <button type="button" class="btn btn-link" @onclick="@(async () => await Model.FetchGameAsync())">Update</button>
                </h5>
            </div>
            <div>
                <div class="row">
                    @{
                        var playerIndex = Model.Game.Players.FindIndex(x => x.Id == Model.Player.Id);
                    }
                    <RemotePlayer Player="Model.Game.Players.ElementAtOrDefault((playerIndex + 1) % Model.Game.Players.Count)"></RemotePlayer>
                    <RemotePlayer Player="Model.Game.Players.ElementAtOrDefault((playerIndex + 2) % Model.Game.Players.Count)"></RemotePlayer>
                    <RemotePlayer Player="Model.Game.Players.ElementAtOrDefault((playerIndex + 3) % Model.Game.Players.Count)"></RemotePlayer>
                </div>
            </div>
            <div class="gameboard">
                @{
                    var teamTricks = Model.Game.Tricks.Where(x => x.TeamId == Model.Player.TeamId);
                    var opponentTricks = Model.Game.Tricks.Where(x => x.TeamId != Model.Player.TeamId);
                }
                <div class="opponent-tricks">
                    <div class="mb-1">
                        <Chip Context="ContextualClass.Info"><Label>Points</Label><Badge>@opponentTricks.Sum(x => x.Value)</Badge></Chip>
                    </div>
                    @foreach (var trick in opponentTricks)
                    {
                        <div class="row">
                            @foreach (var domino in trick.Dominos)
                            {
                                <Domino Instance="domino" Direction="DominoDirection.Vertical"></Domino>
                            }
                        </div>
                    }
                </div>
                <div class="current-trick">
                    @foreach (var domino in Model.Game.CurrentTrick.Dominos)
                    {
                        <Domino Instance="domino" Direction="DominoDirection.Vertical"></Domino>
                    }
                </div>
                <div class="player-team-tricks">
                    @foreach (var trick in teamTricks.Reverse())
                    {
                        <div class="row">
                            @foreach (var domino in trick.Dominos)
                            {
                                <Domino Instance="domino" Direction="DominoDirection.Vertical"></Domino>
                            }
                        </div>
                    }
                    <div class="mt-1 float-right">
                        <Chip Context="ContextualClass.Info"><Label>Points</Label><Badge>@teamTricks.Sum(x => x.Value)</Badge></Chip>
                    </div>
                </div>
            </div>

            @if (Model.Player.IsActive && !Model.Player.Bid.HasValue)
            {
                <section class="bidding-section">
                    <SpinnerOverlay Visible="Model.Bidding">
                        <div class="row">
                            <div class="col-12">
                                <p>Select a bid:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @foreach (Bid bid in Model.BiddingOptions)
                                {
                                    var context = bid switch
                                    {
                                        Bid.Pass => ContextualClass.Warning,
                                        _ => ContextualClass.Info
                                    };
                                    <Chip Context="context" Size="Size.Large" OnSelected="async () => await BidAsync(bid)">
                                        <Label>
                                            @bid.ToPrettyString()
                                        </Label>
                                    </Chip>
                                }
                            </div>
                        </div>
                    </SpinnerOverlay>
                </section>
            }

            @if (Model.Game.BiddingPlayerId == Model.Player.Id && Model.Game.Players.All(x => x.Bid.HasValue) && !Model.Game.Trump.HasValue)
            {
                <section class="trump-select-section">
                    <SpinnerOverlay Visible="Model.Bidding">
                        <div class="row">
                            <div class="col-12 text-center">
                                @foreach (Suit suit in Enum.GetValues(typeof(Suit)))
                                {
                                    <Chip Context="ContextualClass.Info" Size="Size.Large"><Label>@suit</Label></Chip>
                                }
                            </div>
                        </div>
                    </SpinnerOverlay>
                </section>
            }

            <div class="player">
                <div class="row">
                    <div class="col-12">
                        <hr />

                        <div>
                            <label>Current Player: @Model.Game.CurrentPlayerId</label>
                        </div>
                        <div>
                            <label>Current Bid: @Model.Game.Bid.ToPrettyString()</label>
                        </div>
                        <div>
                            <label>Current High Bidder: @Model.Game.BiddingPlayerId</label>
                        </div>

                        <div class="domino-container">
                            @foreach (var domino in Model.Player.Dominos)
                            {
                                <Domino Instance="domino"
                                    Selectable="Model.Player.IsActive && Model.Game.Bid.HasValue && Model.Game.Trump.HasValue"
                                    OnSelected="async (domino) => await MakeMoveAsync(domino)"></Domino>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</SpinnerOverlay>

@code {
    [Parameter]
    public Guid GameId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model.MatchId = GameId;

        if (Model.Game == null)
        {
            await Model.FetchGameAsync();
        }

        if (Model.Player == null)
        {
            await Model.FetchPlayerAsync();
        }
    }

    public async Task BidAsync(FortyTwo.Shared.Models.Bid bid)
    {
        string errorMessage;

        try
        {
            errorMessage = await Model.BidAsync(bid);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            Console.Error.WriteLine();
        }

        if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Icon = SweetAlertIcon.Error,
                Html = errorMessage,
                ConfirmButtonText = "Ok",
            });
        }
    }

    public async Task MakeMoveAsync(FortyTwo.Shared.Models.Domino domino)
    {
        string errorMessage;

        try
        {
            errorMessage = await Model.MakeMoveAsync(domino);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            Console.Error.WriteLine();
        }

        if (!string.IsNullOrWhiteSpace(errorMessage))
        {
            await Swal.FireAsync(new SweetAlertOptions
            {
                Icon = SweetAlertIcon.Error,
                Html = errorMessage,
                ConfirmButtonText = "Ok",
            });
        }
    }
}
