@page "/match/{matchId:guid}"
@attribute [Authorize]
@layout MainLayout
@using FortyTwo.Shared.Models

<SpinnerOverlay Visible="Model.IsLoading">
    @if (Model.CurrentGame == null || Model.Player == null)
    {
        <div class="alert alert-danger" role="alert">
            Failed to load game info :(
        </div>
    }
    else
    {
        <div class="row justify-content-between border-bottom">
            @{ Model.Match.Scores.TryGetValue(Teams.TeamA, out var teamAScore); }
            @{ Model.Match.Scores.TryGetValue(Teams.TeamB, out var teamBScore); }
            <div class="col-3 offset-1"><label><b>Us:</b> <span data-score="@(Model.Player.Team == Teams.TeamA ? teamAScore : teamBScore)"></span></label></div>
            <div class="col-3"><label><b>Them:</b> <span data-score="@(Model.Player.Team == Teams.TeamA ? teamBScore : teamAScore)"></span></label></div>
        </div>

        <div class="game-wrapper">
            <div>
                <h5>
                    @(Model.CurrentGame.Name ?? $"Game {Model.Match.Games.Count + 1}" ?? "Name Unknown")
                    <button type="button" class="btn btn-link" title="Refresh match" disabled="@Model.IsLoading"
                        @onclick="@(async () => await Model.FetchMatchAsync())">
                        <span class="oi oi-loop-circular" aria-hidden="true"></span>
                    </button>
                </h5>
            </div>
            <div>
                <div class="row">
                    @{
                        const int numPlayers = 4;
                        var playerPosition = Model.Match.Players.FirstOrDefault(x => x.Id == Model.Player.Id)?.Position;
                        var otherPlayers = Model.Match.Players.Where(x => x.Id != Model.Player.Id)
                            .ToDictionary(kv => kv.Position - playerPosition > 0 ? kv.Position - playerPosition : kv.Position - playerPosition + numPlayers);

                        otherPlayers.TryGetValue(1, out var adjustedPlayer1);
                        otherPlayers.TryGetValue(2, out var adjustedPlayer2);
                        otherPlayers.TryGetValue(3, out var adjustedPlayer3);
                    }
                    <div class="col-4">
                        <RemotePlayer Player="adjustedPlayer1"
                            IsActive="adjustedPlayer1?.Id == Model.CurrentGame.CurrentPlayerId"
                            DominoCount="Model.CurrentGame.Hands.FirstOrDefault(p => p.PlayerId == adjustedPlayer1?.Id)?.Dominos ?? 0"
                            Bid="!Model.CurrentGame.Trump.HasValue || Model.CurrentGame.BiddingPlayerId == adjustedPlayer1?.Id ? Model.CurrentGame.Hands.FirstOrDefault(p => p.PlayerId == adjustedPlayer1?.Id)?.Bid : null"
                            Trump="Model.CurrentGame.BiddingPlayerId == adjustedPlayer1?.Id ? Model.CurrentGame.Trump : null"
                            Ready="Model.CurrentGame.WinningTeam.HasValue && Model.Match.Players.First(x => x.Id == adjustedPlayer1?.Id).Ready"></RemotePlayer>
                    </div>
                    <div class="col-4" style="border-left: solid 1px lightgrey; border-right: solid 1px lightgrey;">
                        <RemotePlayer Player="adjustedPlayer2"
                            IsActive="adjustedPlayer2?.Id == Model.CurrentGame.CurrentPlayerId"
                            DominoCount="Model.CurrentGame.Hands.FirstOrDefault(p => p.PlayerId == adjustedPlayer2?.Id)?.Dominos ?? 0"
                            Bid="!Model.CurrentGame.Trump.HasValue || Model.CurrentGame.BiddingPlayerId == adjustedPlayer2?.Id ? Model.CurrentGame.Hands.FirstOrDefault(p => p.PlayerId == adjustedPlayer2?.Id)?.Bid : null"
                            Trump="Model.CurrentGame.BiddingPlayerId == adjustedPlayer2?.Id ? Model.CurrentGame.Trump : null"
                            Ready="Model.CurrentGame.WinningTeam.HasValue && Model.Match.Players.First(x => x.Id == adjustedPlayer2?.Id).Ready"></RemotePlayer>
                    </div>
                    <div class="col-4">
                        <RemotePlayer Player="adjustedPlayer3"
                            IsActive="adjustedPlayer3?.Id == Model.CurrentGame.CurrentPlayerId"
                            DominoCount="Model.CurrentGame.Hands.FirstOrDefault(p => p.PlayerId == adjustedPlayer3?.Id)?.Dominos ?? 0"
                            Bid="!Model.CurrentGame.Trump.HasValue || Model.CurrentGame.BiddingPlayerId == adjustedPlayer3?.Id? Model.CurrentGame.Hands.FirstOrDefault(p => p.PlayerId == adjustedPlayer3?.Id)?.Bid : null"
                            Trump="Model.CurrentGame.BiddingPlayerId == adjustedPlayer3?.Id ? Model.CurrentGame.Trump : null"
                            Ready="Model.CurrentGame.WinningTeam.HasValue && Model.Match.Players.First(x => x.Id == adjustedPlayer3?.Id).Ready"></RemotePlayer>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <hr/>
                </div>
            </div>

            <div class="gameboard">
                @{
                    var teamTricks = Model.CurrentGame.Tricks.Where(x => x.Team == Model.Player.Team);
                    var opponentTricks = Model.CurrentGame.Tricks.Where(x => x.Team != Model.Player.Team);
                }
                <div class="player-team-tricks ml-1">
                    @foreach (var trick in teamTricks.Reverse())
                    {
                        <div class="row">
                            @foreach (var domino in trick.Dominos)
                            {
                                <Domino Instance="domino" Direction="DominoDirection.Vertical"></Domino>
                            }
                        </div>
                    }
                    <div class="mt-1 float-right">
                        <Chip Context="ContextualClass.Info"><Label>Points</Label><Badge>@teamTricks.Sum(x => x.Value)</Badge></Chip>
                    </div>
                </div>
                <div class="current-trick p-4 d-flex justify-content-center align-items-center">
                    @foreach (var domino in Model.CurrentGame.CurrentTrick.Dominos)
                    {
                        <Domino Instance="domino" Direction="DominoDirection.Vertical"></Domino>
                    }
                </div>
                <div class="opponent-tricks mr-1">
                    <div class="mb-1">
                        <Chip Context="ContextualClass.Info"><Label>Points</Label><Badge>@opponentTricks.Sum(x => x.Value)</Badge></Chip>
                    </div>
                    @foreach (var trick in opponentTricks)
                    {
                        <div class="row">
                            @foreach (var domino in trick.Dominos)
                            {
                                <Domino Instance="domino" Direction="DominoDirection.Vertical"></Domino>
                            }
                        </div>
                    }
                </div>
            </div>

            @if (Model.Player.IsActive && !Model.Player.Bid.HasValue)
            {
                <section class="bidding-section">
                    <SpinnerOverlay Visible="Model.Bidding">
                        <div class="row">
                            <div class="col-12">
                                <p>Select a bid:</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                @foreach (Bid bid in Model.BiddingOptions)
                                {
                                    var context = bid switch
                                    {
                                        Bid.Pass => ContextualClass.Warning,
                                        _ => ContextualClass.Info
                                    };
                                    <Chip Context="context" Size="Size.Large" OnSelected="async () => await BidAsync(bid)">
                                        <Label>
                                            @bid.ToPrettyString()
                                        </Label>
                                    </Chip>
                                }
                            </div>
                        </div>
                    </SpinnerOverlay>
                </section>
            }

            @if (Model.CurrentGame.BiddingPlayerId == Model.Player.Id && Model.CurrentGame.Hands.All(x => x.Bid.HasValue) && !Model.CurrentGame.Trump.HasValue)
            {
                <section class="trump-select-section">
                    <SpinnerOverlay Visible="Model.Bidding">
                        <div class="row">
                            <div class="col-12 text-center">
                                @foreach (Suit suit in Enum.GetValues(typeof(Suit)))
                                {
                                    <Chip Context="ContextualClass.Info" Size="Size.Large" OnSelected="async () => await SelectTrumpAsync(suit)"><Label>@suit</Label></Chip>
                                }
                            </div>
                        </div>
                    </SpinnerOverlay>
                </section>
            }

            <div class="player @(Model.Player.IsActive ? "active" : "")">
                <div>
                    @if (Model.CurrentGame.WinningTeam.HasValue)
                    {
                        if (!Model.Player.Ready)
                        {
                            <button type="button" class="btn btn-success"
                                @onclick="@(async () => await UpdatePlayerAsync(ready: true))">
                                Ready Up!
                            </button>
                        }
                        else
                        {
                            <div class="alert alert-success" role="alert">
                                ✔ Ready <span class="text-muted">waiting on other players&hellip;</span>
                            </div>
                        }
                    }
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />

                        @if (!Model.CurrentGame.Trump.HasValue || Model.CurrentGame.BiddingPlayerId == Model.Player.Id)
                        {
                            @if (Model.Player.Bid.HasValue)
                            {
                                <Chip Context="Components.Models.ContextualClass.Warning">
                                    <Label>Bid</Label>
                                    <Badge>@Model.Player.Bid.Value.ToPrettyString()</Badge>
                                </Chip>
                            }
                            @if (Model.CurrentGame.Trump.HasValue)
                            {
                                <Chip>
                                    <Label>Trump</Label>
                                    <Badge>@Model.CurrentGame.Trump.Value</Badge>
                                </Chip>
                            }
                        }

                        <div class="domino-container">
                            @{ var playerDominos = Model.Player.Dominos ?? new List<FortyTwo.Shared.Models.Domino>(); }
                            @for (var i = 0; i < playerDominos.Count; ++i)
                            {
                                <Domino Instance="playerDominos[i]"
                                    Selectable="!Model.MakingMove && Model.Player.IsActive && Model.CurrentGame.Bid.HasValue && Model.CurrentGame.Trump.HasValue"
                                    OnSelected="async (domino) => await MakeMoveAsync(domino)"></Domino>
                                if ((i + 1) % 4 == 0)
                                {
                                    <div class="domino-spacer d-none d-lg-block"></div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</SpinnerOverlay>
