@page "/profile"
@attribute [Authorize]
@layout MainLayout

<style>
    .profile-picture-preview {
        width: 45vw;
        max-width: 200px;
    }
</style>

<h3>Profile</h3>
<hr />

<SpinnerOverlay Visible="IsLoading">
    <EditForm Model="@ProfileModel" OnValidSubmit="@HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="txtEmail">Email address</label>
            <input type="email" class="form-control" id="txtEmail" aria-describedby="emailHelp" value="@User?.Email" disabled>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="filePicture">Picture</label>
            <InputText id="filePicture" type="text" class="form-control" placeholder="Image Url"
                @bind-Value="@ProfileModel.Picture" />
            <img class="img img-fluid img-thumbnail mx-auto d-block mt-1 profile-picture-preview"
                src="@(!string.IsNullOrWhiteSpace(ProfileModel.Picture) ? ProfileModel.Picture : User?.Picture)" />
        </div>
        <div class="form-group">
            <label class="form-check-label" for="chkDarkMode">Theme</label>
            <div class="custom-control custom-switch">
                <InputCheckbox id="chkDarkMode" class="custom-control-input"
                    @bind-Value="ProfileModel.UseDarkTheme" />
                <label class="custom-control-label noselect clickable" for="chkDarkMode">Use Dark Theme</label>
            </div>
        </div>
        <div class="form-group">
            <label for="txtDisplayName">Display Name</label>
            <InputText id="txtDisplayName" type="text" class="form-control" placeholder="Display name"
                 @bind-Value="ProfileModel.DisplayName"/>
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" disabled="@(IsLoading || IsSaving)">
                @if (IsSaving)
                {
                    <span><span class="spinner-border mr-1" role="status"></span> Saving</span>
                }
                else
                {
                    <span>Save</span>
                }
            </button>
        </div>
    </EditForm>
</SpinnerOverlay>
